Flask>=2.0.0,<4.0.0
flask-cors>=6.0.0,<7.0.0
python-dotenv
requests
cfenv==0.5.3
sap-xssec
PyJWT>=2.0.0,<3.0.0
python-dateutil
# Optional (used when bound to HANA / DSP HANA)
hdbcli
# Scheduler
apscheduler>=3.10,<4.0.0
croniter>=2.0
tzdata
